{% extends "base.html" %}

{% load static %}


{% block content %}
<style>
  .modal{
    overflow-y:auto;
  }
</style>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Observaciones</h1>
</div>

<!--HAY observacioens-->
{% if existe %}
  <h1 class="h2">OBSERVACION EN EL VEHICULO {{observaciones.0.programacion_general_id.conductor_placa.placa1}}/{{observaciones.0.programacion_general_id.conductor_placa.placa2}}</h1>

  <!--Datos de programacion general-->
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Contratista</th>
        <td>{{observaciones.0.programacion_general_id.contratista.name}}</td>
      </tr>
  
      <tr>
        <th scope="row">Empresa Transportista</th>
        <td>{{observaciones.0.programacion_general_id.transporte.name}}</td>
      </tr>
  
      <tr>
        <th scope="row">Unidad Involucrada</th>
        <td>{{observaciones.0.programacion_general_id.conductor_placa.placa1}}/{{observaciones.0.programacion_general_id.conductor_placa.placa2}}</td>
      </tr>
  
      <tr>
        <th scope="row">Personal Involucrado</th>
        <td>{{observaciones.0.programacion_general_id.conductor.name}}</td>
      </tr>

    </tbody>
  </table>

  <!--Todas las observaciones-->
  <table class="table " id="id_table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>	
        <th scope="col">Categoría</th>	
        <th scope="col">Lugar</th>	
        <th scope="col">Descripción</th>
        <th scope="col">Evidencia</th>
        <th scope="col">Plan de Acción</th>	
        <th scope="col">Evidencia Correctiva</th>
        <th scope="col">Estado</th>
        <th scope="col">Editar</th>
        <th scope="col">Borrar</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
  
    <tbody>
      {% for observacion in observaciones %}
      {% if observacion.estado.name == "DESAPROBADO" %}
        <tr class="table-danger">
      {% else %}
        <tr class="table-success">
      {% endif %}
      
        <td>{{ observacion.id }}</td>
        <td>{{ observacion.categoria.name }}</td>
        <td>{{ observacion.lugar.name }}</td>
        <td>{{ observacion.descripcion }}</td>
        <td>         
          {% if observacion.evidencia_encode != "undefined"  %}
          <a href="#" class="pop" id="pop{{observacion.id}}_evidencia">
            <img src="data:image/png;base64,{{observacion.evidencia_encode|slice:'2:-1'}}" style="width:100px;height:100px;" id="evidencia-{{observacion.id}}_f0">
          </a>
            {% for foto in fotos %}
              {% if foto %}
                {% for f in foto %}
                  {% if f.evidencia_encode != "undefined" and f.observacion_id == observacion.id %}
                  <a href="#" class="pop" id="pop{{observacion.id}}_evidencia">
                    <img src="data:image/png;base64,{{f.evidencia_encode|slice:'2:-1'}}" style="width:100px;height:100px;" id="evidencia-{{observacion.id}}_f{{f.id}}">
                  </a>
                  {% endif %}  
                {% endfor %}
              {% endif %}
            {% endfor %}
                    
          {% endif %}
        </td>
        <td>{{ observacion.accion_plan }}</td>        
        <td>      
          {% if observacion.evidencia_correctiva_encode != "undefined"  %}
            <a href="#" class="pop" id="pop{{observacion.id}}_evidencia_correctiva">
              <img src="data:image/png;base64,{{observacion.evidencia_correctiva_encode|slice:'2:-1'}}" style="width:100px;height:100px;" id="evidencia_correctiva-{{observacion.id}}_f0">              
            </a>
          {% endif %}
          {% for foto in fotos %}
              {% if foto %}
                {% for f in foto %}
                  {% if f.evidencia_correctiva_encode != "undefined" and f.observacion_id == observacion.id %}
                  <a href="#" class="pop" id="pop{{observacion.id}}_evidencia_correctiva">
                    <img src="data:image/png;base64,{{f.evidencia_correctiva_encode|slice:'2:-1'}}" style="width:100px;height:100px;" id="evidencia_correctiva-{{observacion.id}}_f{{f.id}}">
                  </a>
                  {% endif %}  
                {% endfor %}
              {% endif %}
            {% endfor %}
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalCamera" onClick="actualizar_correctiva('{{observacion.id}}')">Tomar Foto</button>          
        </td>
        <td>{{ observacion.estado.name }}</td>

        <!--Modal para editar una observacion-->      
        <td>
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#uploadModal{{observacion.id}}">EDITAR</button> 
          <!-- Modal -->	
          <div id="uploadModal{{observacion.id}}" class="modal fade" role="dialog">	
            <div class="modal-dialog">	

              <!-- Modal content-->	
              <div class="modal-content">	
                <div class="modal-header">	
                  <button type="button" class="close" data-dismiss="modal">&times;</button>	
                  <h4 class="modal-title">CERRAR</h4>	
                </div>	
                <div class="modal-body">	
                  <!-- Form -->	
                  <form method = "post" action='' enctype="multipart/form-data">	
                    {% csrf_token %} 	

                    Categoría :    	
                    <select class="form-control" name="categoria" id="categoria_{{observacion.id}}">	
                      {% for categoria in categorias %}	
                        {% if observacion.categoria.id == categoria.id %}	
                          <option selected="selected" value="{{ categoria.id }}"> {{ categoria.name }} </option>	
                        {% else %}	
                          <option value="{{ categoria.id }}"> {{ categoria.name }} </option>	
                        {% endif %}	
                      {% endfor %}	
                    </select><br> 	
                    Lugar :    	
                    <select class="form-control" name="lugar" id="lugar_{{observacion.id}}">	
                      {% for lugar in lugares %}	
                        {% if observacion.lugar.id == lugar.id %}	
                          <option selected="selected" value="{{ lugar.id }}"> {{ lugar.name }} </option>	
                        {% else %}	
                          <option value="{{ lugar.id }}"> {{ lugar.name }} </option>	
                        {% endif %}	
                      {% endfor %}	
                    </select><br>                    
                    Descripción: <input type="text"  class="form-control" name="descripcion" id="id_descripcion_{{observacion.id}}" required value="{{observacion.descripcion}}" /><br>	
                    Plan de Acción: <input type="text"  class="form-control" name="plan_accion" id="id_plan_accion_{{observacion.id}}" value="{{observacion.accion_plan}}" /><br>	                    
                    <input type='button' class='btn btn-info' value='Editar Observacion' id='btn_upload_{{observacion.id}}' name='btn_upload_{{observacion.id}}-{{observacion.programacion_general_id.id}}'>	
                  </form> 	
                  <!-- Preview-->	
                  <div id='preview'></div>	
                </div>          	
              </div>	
            </div>	
          </div>
        </td>

        <td>
          <a href="/excel/db/obs_destroy/{{id_file}}/{{observacion.programacion_general_id.id}}/{{observacion.id}}" class="btn btn-danger btn-sm" onclick="return confirm('ESTAS SEGURO QUE DESEA BORRAR LA OBSERVACION?')">BORRAR</a>          
        </td>
        <td>
          <a href="/excel/db/{{id_file}}/obs_aprove/{{observacion.programacion_general_id.id}}/{{observacion.id}}" class="btn btn-success btn-sm" >Aprobar</a>        
          <a href="/excel/db/{{id_file}}/obs_disaprove/{{observacion.programacion_general_id.id}}/{{observacion.id}}" class="btn btn-danger btn-sm" >Desaprobar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <!--Modal para ver imagenes grande-->
  <div class="modal left fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">              
        <div class="modal-body" >
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>         
          <img src="" id="load">
          <div class="container">
            <div>
              <div class="modal-body mi-contenido">
                <button class="btn btn-danger active mi-boton" id="save1" type="button"> Guardar </button></br></br>
                <a onclick="dibujar()" class="btn btn-primary active mi-boton" id="dibujar_boton1" >Dibujar</a></br></br>
                <a class="btn btn-primary active mi-boton" id="dibujar_boton3" style="display: none;">A mano</a>
              </div>
            </div>
            <div>
              <canvas class="canvas-content" id="canvas1" width="1000" height="500"></canvas>
            </div>            
          </div>

        </div>
      </div>
    </div>
  </div>
{% else %}

<!--NO HAY OBSERVACIONES-->
<h1 class="h2">Ninguna</h1>
<table class="table">
  <tbody>

    <tr>
      <th scope="row">Contratista</th>
      <td>{{fila_programacion_general.0.contratista.name}}</td>
    </tr>

    <tr>
      <th scope="row">Empresa Transportista</th>
      <td>{{fila_programacion_general.0.transporte.name}}</td>
    </tr>

    <tr>
      <th scope="row">Unidad Involucrada</th>
      <td>{{fila_programacion_general.0.conductor_placa.placa1}}/{{fila_programacion_general.conductor_placa.placa2}}</td>
    </tr>

    <tr>
      <th scope="row">Personal Involucrado</th>
      <td>{{fila_programacion_general.0.conductor.name}}</td>
    </tr>

  </tbody>
</table>
{% endif %}

<!-- Form oculto para subir nueva observacion-->
<div class="btn-toolbar mb-2 mb-md-0">
  <!-- Añadir antiguo oculto, si se desea hacer con archivos, falta corregir toda la funcionalidad
  <div class="btn-group mr-2">
    <a onclick="myFunction()" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Añadir Observación</a>
  </div> -->
  <!-- Añadir observación con cámara -->
  <div class="btn-group mr-2">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#uploadModalCamara">Observación Cámara</button>
  </div>
</div>

<div id="myDIV" style="display:none;">
  <br>
  <form method="POST" class="post-form" action="/excel/db/{{id_file}}/obs/{{id_registro}}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Categoria:</label>
      <div class="col-sm-4">
        <select class="form-control" name="categoria">
          {% for categoria in categorias %}            
            <option value="{{ categoria.id }}"> {{ categoria.name }} </option>            
          {% endfor %}
        </select>                
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Lugar:</label>
      <div class="col-sm-4">
        <select class="form-control" name="lugar">
          {% for lugar in lugares %}            
            <option value="{{ lugar.id }}"> {{ lugar.name }} </option>            
          {% endfor %}
        </select>                
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Evidencia Fotográfica : </label>
      <div class="col-sm-4">
        <input type='file' name='evidencia' id='id_evidencia' required class='form-control' >
      </div>
    </div>  

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Descripción:</label>
      <div class="col-sm-4">
        <input type="text"  class="form-control" name="descripcion" id="id_descripcion" required value="" />
      </div>
    </div>  

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Plan de Acción:</label>
      <div class="col-sm-4">
        <input type="text"  class="form-control" name="plan_accion" id="id_plan_accion" value="" />
      </div>
    </div>   

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Evidencia Levantamiento :</label>
      <div class="col-sm-4">
        <input type='file' name='levantamiento' id='id_levantamiento' class='form-control' >
      </div>
    </div> 
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-success">Crear</button>
      </div>
    </div>
  
  </form>
</div>

<!--Modal para agregar una observación-->
<div id="uploadModalCamara" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">CERRAR</h4>
      </div>
      <div class="modal-body">
        <!-- Form -->
        <form method = "post" action='' enctype="multipart/form-data">
          {% csrf_token %} 
          
          Categoría :    
          <select class="form-control" name="categoria" id="categoria_camara">
            {% for categoria in categorias %}
              <option value="{{ categoria.id }}"> {{ categoria.name }} </option>              
            {% endfor %}
          </select><br> 
          Lugar :    
          <select class="form-control" name="lugar" id="lugar_camara">
            {% for lugar in lugares %}             
                <option value="{{ lugar.id }}"> {{ lugar.name }} </option>
            {% endfor %}
          </select><br>          
          Evidencia Fotográfica :<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalCamera" onClick="accept_camera('evidencia')">Tomar Evidencia</button><br>
          <div id = "evidencia_camara"></div>
          Descripción: <input type="text"  class="form-control" name="descripcion" id="id_descripcion_camara" required value="" /><br>
          Plan de Acción: <input type="text"  class="form-control" name="plan_accion" id="id_plan_accion_camara" value="" /><br>
          Evidencia Correctiva :<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalCamera" onClick="accept_camera('evidencia_correctiva')">Tomar Evidencia Correctiva</button><br><br>
          <div id = "correctiva_camara"></div>
          <input type='button' class='btn btn-info' value='Añadir Observacion' id='btn_nuevo_camara' name='btn_nuevo_camara'>
        </form> 
      </div>          
    </div>
  </div>
</div>

<!--Modal para ver la camara-->
<div class="modal" id="myModalCamera" data-backdrop="static">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">          
          <button type="button" class="btn btn-danger" value="Take Snapshot" onClick="take_snapshot()">Tomar Foto</button>         
          
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onClick="close_snapshot()">×</button>
        </div><div class="container"></div>
        <div class="modal-body">          

          <style>
            #my_camera{
            width: 640px;
            height: 480px;
            border: 1px solid black;
            }
          </style>
          <!--cargar script para redimensionar camara-->
          <script src="{% static '/js/check_device_camera.js' %}"></script>

          <div id="my_camera"></div>
          
          <div style="display: none;" id="results" >
            <div class="modal-body mi-contenido">
              <button class="btn btn-danger active mi-boton" id="save2" type="button"> Guardar </button></br></br>
              <a onclick="dibujar2()" class="btn btn-primary active mi-boton" id="dibujar_boton2" >Dibujar</a></br></br>
              <a class="btn btn-primary active mi-boton" id="dibujar_boton4" style="display: none;">A mano</a>
            </div>
            <div>
              <canvas class="canvas-content" id="canvas2" width="640" height="480"></canvas>
            </div> 
          </div>

          <!-- Webcam.min.js -->
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
          
          <!-- Configure a few settings and attach camera -->
          <script>  
            var camara_evidencia = null; 
            var tipo_evidencia = null;
            var id_obs = -1;
            var my_camera = document.getElementById('my_camera');
            var results = document.getElementById('results');
            function actualizar_correctiva(id) {               
              id_obs = id;
              accept_camera("actualizar_correctiva");
            }
            function accept_camera(tipo_evidencia) {            
                this.tipo_evidencia = tipo_evidencia;
                if(tipo_evidencia == "evidencia")
                  evidencia_flag = true;
                if(tipo_evidencia == "evidencia_correctiva")
                  correctiva_flag = true;
                if(tipo_evidencia == "actualizar_correctiva")
                  actualizar_correctiva_flag = true;
                Webcam.set({
                width: camera_width,
                height: camera_height,
                image_format: 'jpeg',
                jpeg_quality: 90,
                constraints: {
                  video: true,
                  facingMode: "environment"
                }
              });
              Webcam.attach(my_camera);  
            }            
            
            function take_snapshot() {
              Webcam.snap( function(data_uri) {
                camara_evidencia = data_uri;  
              });

              Webcam.reset();

              var image_path = camara_evidencia;              
              
              const canvas = document.getElementById('canvas2');
              const saveButton = document.getElementById('save2');
              const loadInput = results;
              //console.log(id_obs);
              new Drawing(canvas, saveButton, loadInput, image_path, id_obs, tipo_evidencia);

              my_camera.style.display = "none";
              loadInput.style.display = "block";
            }

            function close_snapshot() {
              evidencia_flag = false;
              correctiva_flag = false;
              actualizar_correctiva_flag = false;
              my_camera.style.display = "block";
              results.style.display = "none";
              circles = [];
              Webcam.reset(); 
            }

            function reset_snapshot() {
              my_camera.style.display = "block";
              results.style.display = "none";
              circles = [];
              Webcam.attach(my_camera);
            }
            
          </script>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onClick="close_snapshot()">Cerrar</button>
          <button type="button" class="btn btn-warning" onClick="reset_snapshot()">Regresar</button>
        </div>
      </div>
    </div>
</div>

<!--Modal de circulo que procesa-->
<div class="modal" id="myModal2" data-backdrop="static">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">PROCESANDO...</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div><div class="container"></div>
        <div class="modal-body">
          <link href="{% static '/css/modal_gift.css' %}" rel="stylesheet">
          <div class="show_loader" id="id_show_loader">            
            <div class="loader">    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<!--Script para mostrar contenido-->
<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<!--Script para editar observacion en modal-->
<script>
  var token = '{{csrf_token}}';
  
  $(document).ready(function(){
    $('[id^=btn_upload]').click(function(){
      var $this =  $(this).attr('name');
      var indice_obs = $this.substring($this.lastIndexOf("_") + 1, $this.lastIndexOf("-"));
      var indice_pg =  $this.substring($this.lastIndexOf("-") + 1,  $this.length);

      var fd = new FormData();            
      var id_mod_des = $('#id_descripcion_'+indice_obs)[0].value;
      var id_plan_accion = $('#id_plan_accion_'+indice_obs)[0].value;
      var id_categoria = $('#categoria_'+indice_obs)[0].value;
      var id_lugar = $('#lugar_'+indice_obs)[0].value;
            
      fd.append('descripcion',id_mod_des);
      fd.append('plan_accion',id_plan_accion);      
      fd.append('categoria',id_categoria);
      fd.append('lugar',id_lugar);
      
      // AJAX request
      $.ajax({
        headers: { "X-CSRFToken": token },
        url: '/excel/db/{{id_file}}/obs_update/'+indice_pg+'/'+indice_obs,          
        type: 'POST',
        data: fd,
        contentType: false,
        processData: false,
        success: function(response){
          if(response != 0){
            resultados = response.resultado
            //console.log(resultados);
            location.reload()
          }else{
            alert('file not uploaded');
          }
        }
      });
    });
  });

</script>

<!--Script para añadir observacion en modal con cámara-->
<script>
  var token = '{{csrf_token}}';
  
  $(document).ready(function(){
    $('[id^=btn_nuevo_camara]').click(function(){
      //console.log("{{fila_programacion_general}}")
      var fdcamera = new FormData();      
      var id_mod_des = $('#id_descripcion_camara')[0].value;
      var id_plan_accion = $('#id_plan_accion_camara')[0].value;
      var id_categoria = $('#categoria_camara')[0].value;
      var id_lugar = $('#lugar_camara')[0].value;
      
      fdcamera.append('imagen_evidencia', JSON.stringify(evidencia_src));
      fdcamera.append('imagen_correctiva', JSON.stringify(correctiva_src));
      fdcamera.append('descripcion',id_mod_des);
      fdcamera.append('plan_accion',id_plan_accion);      
      fdcamera.append('categoria',id_categoria);
      fdcamera.append('lugar',id_lugar); 
      fdcamera.append('fecha',"{{fila_programacion_general.0.excel.created_at|date:'c'}}");     
      $("#myModal2").modal();

      // AJAX request
      $.ajax({
        headers: { "X-CSRFToken": token },
        url: '/excel/db/obs_camera/'+"{{fila_programacion_general.0.id}}",
        type: 'POST',
        data: fdcamera,
        contentType: false,
        processData: false,
        success: function(response){
          if(response['resultado'] == "fracaso"){            
            alert('No hay evidencia o descripción');
            $('#myModal2').modal('toggle');            
          }else{
            alert("Observacion Creada" );
            location.reload(true);            
          }
        }
      });
    });
  });

</script>

<!--Script para agrandar imagen en modal-->
<script> 
  var draw;
  $(function() {
		$('[id^=pop]').on('click', function() {
			//$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('#imagemodal').modal('show');  
      var image_path = $(this).find('img').attr('src');
      var id_obs = $(this).find('img').attr('id');
      console.log(id_obs);
      const canvas = document.getElementById('canvas1');
      const saveButton = document.getElementById('save1');
      const loadInput = document.getElementById('load');
      draw = new Drawing(canvas, saveButton, loadInput, image_path, id_obs, "undefined");
		});		
  });  
</script>

<!--Script para habilitar el dibujar-->
<script>
  var cont = -1, cont2 = -1, cont3 = -1, cont4 = -1;
  var puede_dibujar = false;
  var puede_dibujar_a_mano = false;
  function dibujar() {
    var boton = document.getElementById("dibujar_boton1");
    var boton3 = document.getElementById("dibujar_boton3");
    cont++;
    if(cont %2 == 0){
      boton.firstChild.data  = "Dibujando";
      boton.className = "btn btn-warning active mi-boton";
      puede_dibujar = true;      
      boton3.style.display = "block";
      boton3.onclick = function() {
        cont3++;
        if(cont3 %2 == 0){          
          boton3.className = "btn btn-warning active mi-boton";
          puede_dibujar_a_mano = true;
        }
        else{          
          boton3.className = "btn btn-primary active mi-boton";
          puede_dibujar_a_mano = false;
        }
      };
      //console.log(cont);
    }else{
      boton.firstChild.data  = "Dibujar";
      boton.className = "btn btn-primary active mi-boton";
      puede_dibujar = false;
      boton3.className = "btn btn-primary active mi-boton";      
      boton3.style.display = "none";
      puede_dibujar_a_mano = false; 
      cont3 = -1;     
      //console.log(cont);
    }
  }

  function dibujar2() {
    var boton2 = document.getElementById("dibujar_boton2");
    var boton4 = document.getElementById("dibujar_boton4");
    cont2++;
    if(cont2 %2 == 0){
      boton2.firstChild.data  = "Dibujando";
      boton2.className = "btn btn-warning active mi-boton";
      puede_dibujar = true;
      boton4.style.display = "block";
      boton4.onclick = function() {
        cont4++;
        if(cont4 %2 == 0){          
          boton4.className = "btn btn-warning active mi-boton";
          puede_dibujar_a_mano = true;
        }
        else{          
          boton4.className = "btn btn-primary active mi-boton";
          puede_dibujar_a_mano = false;
        }
      };
    }else{
      boton2.firstChild.data  = "Dibujar";
      boton2.className = "btn btn-primary active mi-boton";
      puede_dibujar = false;
      boton4.className = "btn btn-primary active mi-boton";      
      boton4.style.display = "none";
      puede_dibujar_a_mano = false; 
      cont4 = -1;  
    }
  }
</script>
<!--Script para Dibujar-->
<script>
  var token = '{{csrf_token}}';
  var evidencia_src = [], correctiva_src = [];  
  var evidencia_flag = true, correctiva_flag = true, actualizar_correctiva_flag = true;
  var rect, offsetLeft, offsetTop, img;
  var dragging = false;
  var lastX, startX, startY, circle, radius, context_circle;
  var circles = [];
  var marginLeft = 150;
  var control = 0;
  class Drawing {
    constructor(canvas, saveButton, loadInput, image_path, id_obs, tipo_evidencia) {       
      this.isDrawing = false;
      canvas.style.marginLeft = marginLeft + "px";

      //numero del canvas, 1 editar, 2 camara
      var canvas_num = canvas.id.substring(6,7);     

      canvas.addEventListener('mousedown', () => this.startDrawing());
      canvas.addEventListener('mousemove', (event) => this.draw(event, canvas_num, image_path));
      canvas.addEventListener('mouseup', () => this.stopDrawing());
      
      canvas.addEventListener('mousedown', function(e) {
        if(puede_dibujar == false){
          var evt = e || event;        
          dragging = true;
          lastX = evt.clientX;
          e.preventDefault();
        }
      }, false);

      window.addEventListener('mousemove', function(e) {
        var evt = e || event;
        if (dragging) {
          var delta = evt.clientX - lastX;
          lastX = evt.clientX;
          marginLeft += delta;
          canvas.style.marginLeft = marginLeft + "px";
        }
        e.preventDefault();
      }, false);

      window.addEventListener('mouseup', function() {
          dragging = false;
      }, false);


      // Set up touch events for mobile, etc
      canvas.addEventListener("touchstart", function (e) {
        if(puede_dibujar == true){
          var evt = e || event;        
          dragging = true;
          lastX = evt.clientX;
          e.preventDefault();
        
          var mousePos = getTouchPos(canvas, e);
          var touch = e.touches[0];
          var mouseEvent = new MouseEvent("mousedown", { 
            clientX: touch.clientX, clientY: touch.clientY,        
            });
          canvas.dispatchEvent(mouseEvent);
        }
      }, false);
      
      canvas.addEventListener("touchend", function (e) {
          var mouseEvent = new MouseEvent("mouseup", {});
          canvas.dispatchEvent(mouseEvent);
      }, false);

      canvas.addEventListener("touchmove", function (e) {
      var touch = e.touches[0];
      var mouseEvent = new MouseEvent("mousemove", {
          clientX: touch.clientX,
          clientY: touch.clientY
        });      
      canvas.dispatchEvent(mouseEvent);
      }, false);

      // Get the position of a touch relative to the canvas
      function getTouchPos(canvasDom, touchEvent) {
      var rect = canvasDom.getBoundingClientRect();
        return {
            x: touchEvent.touches[0].clientX - rect.left,
            y: touchEvent.touches[0].clientY - rect.top
        };
      }

      var save_fuction = () => this.save(image_path, id_obs, tipo_evidencia);
      var load_fuction = (event) => this.load(event);

      saveButton.addEventListener('click', save_fuction, true);
      loadInput.addEventListener('change', load_fuction, true);   

      //si se cierra el modal se liberan los listener
      $("#imagemodal").on('hidden.bs.modal', function () {
        $(this).data('bs.modal', null);
        saveButton.removeEventListener('click', save_fuction,true);
        loadInput.removeEventListener('change', load_fuction,true);
        circles = [];
        //console.log("modal borrado");
      });

      this.canvas = canvas;
      this.context = this.canvas.getContext('2d');
      
      this.loadTheImage(image_path);
    }
    startDrawing() {
      this.isDrawing = true; 
      startX=parseInt(event.pageX-offsetLeft);
      startY=parseInt(event.pageY-offsetTop - scroll_y); 
      circle = new Circle(startX, startY);
      circles.push(circle);   
    }
    stopDrawing() {
      this.isDrawing = false;      
      if(!puede_dibujar_a_mano){
        context_circle = this.context;
        circles.forEach(function(circ) {            
          circ.draw(context_circle);
        }); 
      }
    }
    draw(event, canvas_num, image_path) { 
      this.resize(canvas_num);
      if(puede_dibujar == true){
        if (this.isDrawing) {
          this.context.fillStyle = 'red';          
          //console.log(event.pageX + " " + event.pageY + " " +offsetLeft + " " + offsetTop);
          
          if(puede_dibujar_a_mano){
            this.context.fillRect(event.pageX - offsetLeft, event.pageY - offsetTop - scroll_y, 4, 4);
          }
          else{
            circle.radius = this.getDistance(startX, startY, event.pageX - offsetLeft, event.pageY - offsetTop - scroll_y);
            
            this.context.clearRect(0, 0,this.canvas.width, this.canvas.height);          
            context_circle = this.context;
            circles.forEach(function(circ) {
              this.loadTheImage(image_path); 
              context_circle.beginPath();
              context_circle.arc(circ.startX, circ.startY, circ.radius, 0, 2 * Math.PI);
              context_circle.strokeStyle = "#f00";
              context_circle.lineWidth = 4;
              context_circle.stroke();           
              //circ.draw( this.context);
            }, this);
          }

        }
      }
    }
    getDistance(p1X, p1Y, p2X, p2Y) {
      return Math.sqrt(Math.pow(p1X - p2X, 2) + Math.pow(p1Y - p2Y, 2))
    }
    
    save(image_path, id_obs, tipo_evidencia) {
      const data = this.canvas.toDataURL('image/png');
      //console.log(tipo_evidencia);
      if(tipo_evidencia == "evidencia" && evidencia_flag == true){
        evidencia_flag = false;
        evidencia_src.push(data);
        close_snapshot();
        $('#myModalCamera').modal('toggle');
        var imagenes_evidencia = ""        
        evidencia_src.forEach(function(e) {
          imagenes_evidencia = imagenes_evidencia + '<img src="'+e+'" style="width:100px;height:100px;">';          
        });
        document.getElementById('evidencia_camara').innerHTML = imagenes_evidencia
      }
      //Si es una observacion tomada con cámara
      else if(tipo_evidencia == "evidencia_correctiva" && correctiva_flag == true){
        correctiva_flag = false;
        correctiva_src.push(data);
        close_snapshot();
        $('#myModalCamera').modal('toggle');
        var imagenes_correctiva = ""        
        correctiva_src.forEach(function(e) {
          imagenes_correctiva = imagenes_correctiva + '<img src="'+e+'" style="width:100px;height:100px;">';          
        });
        document.getElementById('correctiva_camara').innerHTML = imagenes_correctiva
      }
      //Actualizar evidencia correctiva
      else if(tipo_evidencia == "actualizar_correctiva" && actualizar_correctiva_flag == true){
        actualizar_correctiva_flag = false;
        var fdcamera_update = new FormData();        
        fdcamera_update.append('data', data); 
        // AJAX request
        $.ajax({
          headers: { "X-CSRFToken": token },
          url: '/excel/db/update_image_editor/'+ id_obs,
          type: 'POST',
          data: fdcamera_update,
          contentType: false,
          processData: false,
          success: function(response){            
              alert("Observacion Creada" );
              location.reload(true); 
          }
        });
      }
      if(tipo_evidencia == "undefined"){        
        
        var observacion_tipo = id_obs.substring(0, id_obs.lastIndexOf("-"));
        var observacion_id = id_obs.substring(id_obs.lastIndexOf("-") + 1,  id_obs.lastIndexOf("_f"));
        var foto_id = id_obs.substring(id_obs.lastIndexOf("_f") + 2,  id_obs.length);
        
        var fd = new FormData();
        fd.append('imagen', data);
        fd.append('observacion_tipo', observacion_tipo);
        fd.append('observacion_id', observacion_id);
        fd.append('image_path', image_path);        
        $("#myModal2").modal();
        // AJAX request
        $.ajax({
          headers: { "X-CSRFToken": token },
          url: '/excel/db/image_editor/'+observacion_id+'/' + foto_id,          
          type: 'POST',
          data: fd,
          contentType: false,
          processData: false,
          success: function(response){
            if(response != 0){
              //console.log(response+ observacion_tipo)           
              alert("Observacion Actualizada" );
              location.reload(true);            
            }else{
              alert('file not uploaded');
            }
          }
        });
      }
    }

    load(event) {
      const file = [...event.target.files].pop();
      this.readTheFile(file).then((image) => this.loadTheImage(image))
    }
    loadTheImage(image) {
      img = new Image();
      const canvas = this.canvas;
      img.onload = function () {
        const context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.drawImage(img, 0, 0);        
      };
      img.src = image;
      if(img.height == 0){
        this.context.canvas.width = camera_width;
        this.context.canvas.height = camera_height;
      }else{
        this.context.canvas.height = img.height;
        this.context.canvas.width = img.width;
      }
      //$('.modal-content').css({width:img.width+100}); 
      //console.log("imagen cargada");
          
    }
    resize(canvas_num){
      rect = $("#canvas" + canvas_num)[0].getBoundingClientRect();
      offsetLeft = rect.left ;
      offsetTop = rect.top ;
    }  
    
    readTheFile(file) {
      const reader = new FileReader();
      return new Promise((resolve) => {
        reader.onload = (event) => {
          resolve(event.target.result);
        };
        reader.readAsDataURL(file);
      })
    }
  } 

  function Circle(startX, startY) {
    this.startX = startX;
    this.startY = startY;
    this.radius;
    this.draw = function(context) {      
      context.beginPath();
      context.arc(this.startX, this.startY, this.radius, 0, 2 * Math.PI);
      context.strokeStyle = "#f00";
      context.lineWidth = 4;
      context.stroke();
    }
  }
</script>

{% endblock %}


  