{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Vehiculo: {{vehiculo_archivos.placa.placa1}} | {{vehiculo_archivos.placa.placa1}}</h1>
</div>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">Fecha</th>
      <td>{{ vehiculo_archivos.date}}</td>
    </tr>

    <tr>
      <th scope="row">ChecList Foto</th>
      <td>        
      </td>
    </tr>
    {% if vehiculo_archivos.checklist_file_encode %}
    <tr>
      <th scope="row"></th>
      <td>
        <a href='#' class='pop'>
          <img src="data:image/png;base64,{{vehiculo_archivos.checklist_file_encode|slice:'2:-1'}}" style="width:500px;height:600px;">
        </a>   
      </td>
    </tr>
    {% endif %}  
  </tbody>
</table>

<!--Modal para ver imagenes grande-->
<div class="modal left fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">              
			<div class="modal-body" >
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<div class="container">					
						<img src="" class="imagepreview" >
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<!--Script para agrandar imagen en modal-->
<script>
  $(function() {			
    $(document).on('click', '.pop', function() {				
      $('.imagepreview').attr('src', $(this).find('img').attr('src'));
      $('#imagemodal').modal('show');   
    });		
  });
</script>
{% endblock %}
