{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Matriz</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group mr-2">
			{% if user.get_role.id < 3 %}
			<a href="/excel/create" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Subir Archivo</a>
			{% endif %}
		</div>
	</div>
</div>

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Id</th>	
			<th scope="col">Nombre</th>	
			<th scope="col">Fecha de Subida</th>	
			<th scope="col">Detalles</th>	
			<!--
			<th scope="col">Excel</th>	
			<th scope="col">Descargar</th>			
			-->
		</tr>
	</thead>

	<tbody>
		{% for file in files %}
		<tr>
			<td>{{ file.id }}</td>
			<td>{{ file.name }}</td>
			<td>{% load tz %}{{ file.created_at| timezone:'America/Lima' }}</td>
			<td>
				<a href="/excel/db/{{ file.id }}" class="btn btn-primary btn-sm" >CONSULTAS</a>					
			</td>

			<!--
			<td>
				<a href="/excel/process_excel/{{ file.id }}" >CARGAR DATOS EXCEL</a>				
			</td>			
			
			<td>
				<a href="/excel{{ file.file.url }}" class="btn btn-primary btn-sm" target="_blank">Descargar</a>				
			</td>
			-->
		</tr>
		{% endfor %}
	</tbody>
</table>
<!-- Paginacion -->
<div class="float-right">
  {% if files.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page={{ files.previous_page_number }}">« Página Anterior</a>
    {% if files.number > 3 %}
      <a class="btn btn-outline-info mb-4" href="?page=1">1</a>
      {% if files.number > 4 %}
        <button class="btn btn-outline-info mb-4" disabled="">...</button>
      {% endif %}
    {% endif %}
  {% endif %}

  {% for num in files.paginator.page_range %}
    {% if files.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > files.number|add:'-3' and num < files.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if files.has_next %}
    {% if files.number < files.paginator.num_pages|add:'-3' %}
      <button class="btn btn-outline-info mb-4" disabled="">...</button>
      <a class="btn btn-outline-info mb-4" href="?page={{ files.paginator.num_pages }}">{{ files.paginator.num_pages }}</a>
    {% elif files.number < files.paginator.num_pages|add:'-2' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ files.paginator.num_pages }}">{{ files.paginator.num_pages }}</a>
    {% endif %}
    <a class="btn btn-outline-info mb-4" href="?page={{ files.next_page_number }}">Página Siguiente »</a>
  {% endif %}
</div>

{% endblock %}