{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Crear Usuario</h1>
</div>

<form method="POST" class="post-form" action="/users/create">
  {% csrf_token %}


  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nombre:</label>
    <div class="col-sm-4">
      {{ form.username }}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">DNI:</label>
    <div class="col-sm-4">
      {{ form.dni }}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Password:</label>
    <div class="col-sm-4">
      {{ form.password }}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Rol:</label>
    <div class="col-sm-4">
      <select class="form-control" name="role">
        {% for role in roles %}
          <option value="{{ role.id }}"> {{ role.name }} </option>
        {% endfor %}
      </select>
    </div>
  </div>
    
  <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-success">Crear</button>
    </div>
  </div>

</form>

{% endblock %}
